* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a, p {
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav_main_sharing {
    background: url("./images/hero-image.png") no-repeat;
}

.cta a, .hero_left-col p {
    color: #25252A;
}